* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

html, body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #323131;
}

@font-face {
  src: url(https://code.s3.yandex.net/web-code/fonts/SuisseIntl-Book.woff);
  font-family: 'Suisse';
  font-weight: normal;
}

@font-face {
  src: url(https://code.s3.yandex.net/web-code/fonts/SuisseIntl-Bold.woff);
  font-family: 'Suisse';
  font-weight: bold;
}

@media (max-width: 1200px) {
  .conteiner {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .conteiner {
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  .conteiner {
    max-width: none;
  }
}

.conteiner {
  max-width: auto;
  margin: 0 auto;
  padding: 0 auto;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #5e5373;
  z-index: 3;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 3;
  position: relative;
}

.header__logo img {
  max-width: 100%;
  display: block;
}

.header__burger {
  display: none;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 3;
}

.header__list li {
  list-style: none;
  margin: 0 0 0 20px;
}

.header__link {
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  text-decoration: none;
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
  .header__body {
    height: 50px;
  }
  .header_logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
  }
  .header__burger {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }
  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before, .header__burger:after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #18b5a4;
    padding: 70px 10px 20px 10px;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    overflow: auto;
  }
  .header__menu.active {
    top: 0;
  }
  .header__list {
    display: block;
  }
  .header__list li {
    margin: 0 0 20px 0;
  }
}

.content {
  padding: 100px 0 0 0;
}

.content__text {
  font-size: 18px;
  line-height: 25px;
}

.content__text p {
  margin: 0 0 20px 0;
}

@media (max-width: 767px) {
  content {
    padding: 70px 0 0 0;
  }
  .image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
  }
  .image img {
    max-width: 100%;
    display: block;
    margin: 100px 0 0 0;
  }
}

.image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 3;
  position: relative;
}

.text__content {
  color: #fff;
}

.button {
  width: 130px;
  height: 40px;
  padding-top: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid white;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.button:hover {
  opacity: 0.5;
}
