.App {
  display: flex;
  max-width: 1200px;
  min-width: 350px;
  padding: 2%;
  flex-direction: column;
  margin: auto;
  
}

@media(max-width:767px) {
  .App {
    justify-content: center;
    transform: none;
    padding: 2%;
  }
}