.root {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    &:hover{
        background-color:#D6E2E0;
        padding: 6px;
    }
    &:focus{
        background-color: #BFC9CA
    }
    .btn{
        margin-left: 12px;
    }

}