@import './Templates.scss';
.listItems{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 26px;
    padding: 6px;
    &:hover{
        background-color:#D6E2E0;
        border-radius: 10px;
        padding: 6px;
    }
    &:focus{
        background-color: #BFC9CA;
    }
    .btn{
        margin-left: 14px;
    }
}