.listItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 26px;
  padding: 6px;
}

.listItems:hover {
  background-color: #D6E2E0;
  border-radius: 10px;
  padding: 6px;
}

.listItems:focus {
  background-color: #BFC9CA;
}

.listItems .btn {
  margin-left: 14px;
}
