.Modal {
    position: fixed;
    background: black;
    opacity: 50%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    justify-content: center;
    &Div{
        width: 80%;
        padding: 20px;
        position: fixed;
        
       
        top: 10px;
        
        // transform: translateX(center);        
        background:white;

    }
}