.MyButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5px;

  &S {
    background-color: #08a652;
    border: 2px solid #1c663e;
    // margin-top: 10px;
    cursor: pointer;
    padding: 5px;
    color: #ffffff;
  }
}
