.MyButton {
  display: grid;
  grid-template-columns: 1fr;

  .MyButtonBut {
    font-size: 18px;
    font-weight: 650;
    text-decoration: none;
    color: #fff;
    background: rgb(64, 199, 129);
    padding: 10px;
    // margin: 0px 11px;
    border: 3px solid teal;
    box-shadow: 0 -3px rgb(53, 167, 110) inset;
    cursor: pointer;
    &:hover {
      background: rgb(53, 167, 110);
    }
    &:active {
      background: rgb(33, 147, 90);
      box-shadow: 0 3px rgb(33, 147, 90) inset;
    }
  }
}
