$mainHeight: 35px;
.Nav {
    display: flex;
    align-items: center;
    justify-content: center;
    &Text{
       margin: 20px 20px ;
       font-size: $mainHeight;
    }
    &Span{
        font-size: $mainHeight;
        &Link{
            padding: 10px;
        }
    }
    
}