.btn{
    /* margin-left: 12px ; */
}
.listItems{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 30px;
    padding: 6px;
    
}
.listItems:hover{
    background-color: #C0CFD6;
    border-radius: 8px;
    
}
.close{
    color: #E9E4EA;
    text-decoration: line-through;
}