.album {
    box-shadow:  1px 1px 2px 0.5px #c0c0c0; 
    background-color: #ffffff;
    border-radius: 5px;
    min-width: 100px;
    display: flex;
    justify-content: center; 
    color: rgb(51, 51, 51, 0.9);
    
    &:hover{
        background-color: #f0f0f0;
    }
}

.input {
    display: none;
}

.input:checked ~ .album {
    background-color: #afd9fb;
}

