.InputPlus {
    display: grid;
    grid-template-columns: 490px 50px;
    justify-content: center;
    padding-top: 15px;
    grid-template-rows: 40px;   
    
    &Input {
        background: #DBE2EF;
        border-radius: 5px 0px 0px 5px;
        border: none;
        font: 1em/1.4 'Roboto', sans-serif;
        padding: 10px;
    }
    &Button {
        border-radius: 0px 5px 5px 0px;
        border:  1px solid #b1b1b1;
        transition: opacity 0.3ms;
        cursor: pointer;
        background: #3F72AF url('./images/plus.svg') no-repeat center center;
        &:hover {
        opacity: 0.6;
        }
    }
}