* {
    margin: 0;
    padding: ;
    box-sizing: border-box;
}
#root {
    display: flex;
    justify-content: center;
}
.App{
    width: 100%;
}

.post {
 display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px ;
    justify-content: space-between;
    align-items: center;
 }