* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.App {
  height: auto;
  min-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
