* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.AppDiv {
  height: auto;
  width: auto;
  background-color: blanchedalmond;
  display: flex;
  flex-direction: column;
  align-items: center;
}
