.inputTask {
    display: grid;
    grid-template-columns: 1fr 50px 50px;
    background: #DBE2EF;
    padding-right: 15px;
    margin-bottom: 15px;
    &Label {
        display: grid;
        grid-template-columns: auto 1fr;
        padding: 10px 10px;
    }
    &Checkbox {
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
    &EditTitle {

    }
    &Title {
        padding: 10px;
        line-height: 1.5;
    }
    &Edit, &Save, &Delete {
        border: none;
        background:none no-repeat center center;
        cursor: pointer;
    }
    &Save {
        background-image: url(./images/check.svg);
    }
    &Edit {
        background-image: url(./images/edit.svg);
    }
    &Delete {
        background-image: url(./images/trash.svg);
    }
}