/* Ко всему документу\ */
* {
    background-color: bisque;
    padding: 0;
    margin: 0;
    /* не надо мне никакой обводки */
    outline-color: red;
}
/* селектор напрямую к абзатцам */
p {
    color: red;
}
/* к классу */
.a {
    color: red;
}
/* к id */
#stone1 {
    color: blue;
}
/* к нескольким классам */
.c.d {
    color:rgb(244, 240, 255)
}
/* к 2 тегам */
p, b {
    color: darkgray;
}
/* к атрибуту со значением */
[title = "Hi" ] {
    color:red;
}
/* псевдоэлемент:: а : это псевдокласс */
p::first-letter {
    color:chocolate;
}
/* ссылки */
/* когда нажали */
a:active {
    color:red;
}
/* когда наводим */
a:hover{
    color:red;
}
:checked {
    color:red;
}
a:focus {
    color:red;
}
:disabled {
    color:red;
}
p:empty {
    background-color:red;
    width: 20px;
    height: 20px;
}
/* первый элемент в теге */
b:first-child {
    background-color:red;
    width: 20px;
    height: 20px;   
}
/* первая строчка */
b:first-line{

}
/* последний элемент */
p:last-child{
    background-color:red;
    width: 20px;
    height: 20px;   
}
/* Когда нажимаешь на ссылку он делает с ней то что ты настроил */
:focus {
    background-color:aquamarine;
}

article > div {
    margin-top: 10px;
    margin-bottom: 20px;
}
#left {
    height: 100px;
    /* на всю ширину */
    width: 50%;
    background-color:green;
    /* позиционирование */
    float: left;
    /* внутренний отступ */
    margin-top: 10px;
    margin-left: 10px ;
    padding: 5px ;
    margin-right: 20px;
    color: white;
    border: 10px solid silver;
    /* курсор */
    cursor: progress;
    display: table-caption;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 300px ;
    /* прозрачность */
    opacity: 0.7;
    /* расположение текста */
    text-align:center ;
}
/* в ul объекте объекты li */
ul > li {
    display: none;
    visibility: hidden;
}

#right {
    height: 100px;
    /* на всю ширину */
    width: 10%;
    background-color:green;
    /* позиционирование */
    float: left;
    /* внутренний отступ */
    padding: 5px ;
    margin-right: 20px;
    color: white;
    border: 10px solid silver;
    /* курсор */
    cursor: progress;
    display: table-caption;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 300px ;
    /* прозрачность */
    opacity: 0.7;
    /* расположение текста */
    text-align:center ;
}
