
/* Опускайте название протокола (http:, https:) в ссылках на картинки или другие медиа-ресурсы, файлы стилей или скрипты, конечно, если эти файлы доступны по обоим протоколам. */

/* Отсутствие протокола делает ссылку относительной, что предотвращает смешивание ресурсов из разных протоколов и незначительно уменьшает размер файлов. */
.example {
    background: url(https://static.wikia.nocookie.net/smesharikiarhives/images/b/b7/Ёжик_товарный_знак.png/revision/latest?cb=20200929162643&path-prefix=ru);
    
}
/* Также не используйте кавычки в ссылках */

/* Отступы
Всегда используйте для отступа два пробела.
Не используйте табуляцию и не смешивайте табуляцию с пробелами. */
.example {
    color: red;
}
/* Сокращенные формы записи свойств
Используйте сокращенные формы записи свойств, где возможно.

CSS предлагает множество различных сокращенных (англ.) форм записи (например font), которые рекомендуется использовать везде где это возможно, даже если задается только одно из значений.

Использование сокращенной записи свойств полезно для большей эффективности и лучшего понимания кода. */
/* Не рекомендуется: */
  /* Не рекомендуется */
  border-top-style: none;
  font-family: palatino, georgia, serif;
  font-size: 100%;
  line-height: 1.6;
  padding-bottom: 2em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0;

/* Рекомендуется: */
  /* Рекомендуется */
  border-top: 0;
  font: 100%/1.6 palatino, georgia, serif;
  padding: 0 1em 2em;
  
  /* Не указывайте единицы измерения для 0
  Используйте 3-х символьную запись цветов  */
  .body{
      margin: 0;
      padding: 0;
      color:#ebc;
      background-color: #fff;

  }
/* Разделители в классах и идентификаторах
Разделяйте слова в идентификаторах и именах классов с помощью дефиса.

Не используйте ничего, кроме дефиса, для соединения слов и сокращений в селекторах, чтобы повысить удобство чтения и легкость понимания кода.

Не рекомендуется: */
  /* Не рекомендуется: слова “demo” и “image” не разделены */
  .demoimage {}
  
  /* Не рекомендуется: используется подчеркивание вместо дефиса */
  .error_status {}

/* Рекомендуется: */
  /* Рекомендуется */
  #video-id {}
  .ads-sample {}

  /* Используйте один пробел после двоеточия */
  h2 {
      font-family: bold;
  }
 
  /* Всегда ставьте перенос строки между правилами. */
  html {
      margin: 0 20 0 20;
  }

  body {
      color :rgb(245, 245, 220)
  }

  /* По возможности объединяйте правила в группы. Обозначайте группы комментариями и разделяйте переносом строки. */
  /* header */
  #adw-header {

  }
  /* footer */
  #adw-footer {

  }
  /* gallery */
  adw-gallery {
      
  }

