.btn {
    margin-left: 12px;
}
.listItems {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 24px;
    padding: 6px;
}
.listItems:hover{
    background-color:#ff9797 ;
    border-radius: 20 px;
    /* padding: 6px; */
}

.close {
    color: gray;
    text-decoration: line-through;
}