.InputTask {
    display: grid;
    grid-template-columns: 1fr 50px 50px;
    margin-right: 15px;
    &Label {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
    }
    &Text {
        background: #DBE2EF;
        border-radius: 5px;
        height: 55px;
        border: none;
       
    }
    &Title {

    }
    &Checkbox {
        width: 20px;
        height: 20px;
    }
    
}