body{
    margin: 0;
}

.app {
    display: grid;
    grid-template-columns: 5px 450px auto 5px;
    grid-template-rows: 50px auto 680px;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-areas:
        ". . . ."
        "pageCollectionFlipper pageCollectionFlipper pageCollectionFlipper pageCollectionFlipper"
        ". albumFilter photoCollection .";
        justify-content: center;
}


