.inputTask {
    display: grid;
    grid-template-columns: auto 50px 50px;
    margin-bottom: 15px;
    background: #DBE2EF;
    border-radius: 5px;
    
    &Label {
        margin: 30px;
        align-items: center;
        display: grid;
        grid-template-columns: auto 1fr;

    }
    &Checkbox {
        width: 20px;
        height: 20px;
        cursor: pointer;
        
    }
    &Input {
        font: 1rem/1em 'Roboto', sans-serif;
        background: #DBE2EF;
        border-radius: 5px;
        display: block;
        padding-left: 5px;


    }
    &Title {
        padding: 5px;

    }
    &Edit, &Save, &Delete {
        cursor: pointer;
        
        border: none;
        background:  no-repeat center center;
    }
    &Edit {
        
       background-image: url('./images/edit.svg');
    }
    
    &Delete{
        background-image: url('./images/trash.svg');
    }
    &Save{
        background-image: url('./images/check.svg');
    }
    
}