.myModal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  &:active {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &Content {
    padding: 25px;
    background: #fff;
    border-radius: 16px;
    min-width: 250px;
  }
}
