.MyDay {
    padding-top: 20px;
    display: grid;
    grid-template-columns: auto 100px 100px;
    grid-template-rows: 40px;
    align-items:center;
    
    &Header {
        text-align: left;
    }
    &Sort, &Offers {
        height: 20px;
        
    }
    &Sort{
        align-content: right;

    }
  
    
}