.myModale {
    position: fixed;
    /* растянем модальное окно */
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /* чтобы изначельно не было видно окна */
    display: none;
    background: rgba(0, 0, 0, 0.5)
}
.myModaleContent {
    padding: 25px;
    background: white;
    border-radius: 16px;
    min-width: 250px;
}


.myModale.active {
    display: flex;
    justify-content: center;
    align-items: center;
}