// Файл обнуляющий стилей
@import "nullstyle.scss";

html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #323131;
  }
// переменные для блокеа
$fz: 100px;


@font-face {
    src: url(https://code.s3.yandex.net/web-code/fonts/SuisseIntl-Book.woff);
    font-family: 'Suisse';
    font-weight: normal;
}
@font-face {
    src: url(https://code.s3.yandex.net/web-code/fonts/SuisseIntl-Bold.woff);
    font-family: 'Suisse';
    font-weight: bold;
}
@media (max-width:1200px ){
    .conteiner {
      max-width: 970px ;
    }
} 
@media (max-width:992px){
    .conteiner {
        max-width: 750px ;
          
    }
}
    
@media (max-width:767px){
    .conteiner {
        max-width: none ;
    }
}
.conteiner {
    max-width: auto;
    margin: 0 auto;
    padding: 0 auto;
}
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
        &:before{
            content:'';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color:#5e5373;
            z-index: 3;
        }
        &__body{
            position: relative;
            display: flex;
            justify-content: space-between;
            height: 80px;
            align-items: center;
        }
            &__logo{
                flex: 0 0 60px;
                border-radius:50%;
                overflow:hidden;
                z-index: 3 ;
                position: relative;
                    img {
                        max-width:100% ;
                        display: block;
                        }
                }
                &__burger {
                    display: none;}
                        &__list {
                            display: flex;
                            position: relative;
                            z-index: 3;
                                li {
                                    list-style: none;
                                    margin: 0 0 0 20px;
                                }
                            }
                            &__link {
                                color:#fff;
                                text-transform: uppercase;
                                font-size: 24px;
                                text-decoration: none;    
                            }
            }
@media (max-width: 767px){
    body.lock{
        overflow: hidden;
    }
    .header__body{
        height: 50px;
  }
&.header_logo {
        flex: 0 0 40px;
      }
&.header__burger {
    display: block;
      width: 30px;
      height: 20px;
      position: relative;
      z-index: 3;
}
&.header__burger span {
    position: absolute;
    background-color:#fff;
    
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px; 
    transition: all 0.3s ease 0s;
}
&.header__burger:before,.header__burger:after{
    content:'';
      background-color: #fff;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s ease 0s;
}
&.header__burger:before{
    top: 0;
}
&.header__burger:after{
    bottom: 0;
}
& .header__burger.active span{
    transform:scale(0);
}
&.header__burger.active:before{
    transform:rotate(45deg);
      top: 9px;
}
&.header__burger.active:after{
    transform:rotate(-45deg);
      bottom: 9px;
}
&.header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#18b5a4;
    padding: 70px 10px 20px 10px;
    transition: all 0.5s ease 0s;
    overflow: auto;
}
&.header__menu.active{
    top:0;    
}
&.header__list {
    display: block;
}
&.header__list li {
    margin: 0 0 20px 0;
}
}
.content {
    padding: 100px 0 0 0 ;
        &__text{
            font-size: 18px;
            line-height: 25px; 
        }
        &__text p{
            margin: 0 0 20px 0;
        }
}
@media (max-width:767px){
    content{
        padding: 70px 0 0 0 ;
    }
    &.image{
        flex: 0 0 40px;
    & img {
        max-width: 100%;
        display: block;
        margin: 100px 0 0 0 ; 
    }    
    }
}