.post {
  width: 800px;

  &Content {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin: 20px 0px 0px 20px;
    justify-content: space-between;
    align-items: center;
  }
  &Btns {
    display: grid;
    grid-template-columns: auto;
  }
  &Body {
    justify-content: space-between;
    align-items: center;
    display: flex;
  }
}
