*{
    /*внутрение отступы*/
    padding: 0px;
    /* внешние отступы */
    margin: 0;
    /* не обводит поле */
    outline-color: red;
}

article>div{
    margin-top: 10px;
    margin-bottom: 10px;
}
#Left{
    margin-top: 10px;
    margin-left: 10px;
    height: 100px;
    width: 50%;
    background-color: green;
    float:left ;
    margin-right: 20px;
    padding: 5px ;
    background-image: url('https://krasivosti.pro/uploads/posts/2021-08/1630375757_8-krasivosti-pro-p-besporodnie-morskie-svinki-zhivotnie-krasi-9.jpg');
    color:white ;
    
    border: 10px dotted silver ;
    cursor: default;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 300px;
    opacity: 0.5;
    text-align: center;
   
}
#Right{
    height: 100px;
    width: 10%;
    background-color: green;
    float:left ;
    margin-right: 20px;
    padding: 5px ;
    background-image: url('https://krasivosti.pro/uploads/posts/2021-08/1630375757_8-krasivosti-pro-p-besporodnie-morskie-svinki-zhivotnie-krasi-9.jpg');
    color:white ;
    
    border: 10px dotted silver ;
    cursor: default;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 300px;
    opacity: 0.5;
    text-align: center;
   
}


ul>li{
    display: block;
    visibility: hidden;

}
























/*hover это когда нажали а hover это когда навели и подсветилась ссылка*/
/*input checkbox появляется окно для галочки*/




/* :checked{
    color: red;
}
:disabled{
    color:blue;
} */
/*пусты абзатцы проверяю*/
/* p:empty{
    background-color: red;
    width: 10px;
    height: 10px;
}
p:enabled{

}
:focus{
    background-color: red;
   

} */

