.photoCollection {
    grid-area: photoCollection;
    display: grid;
    margin-top: 10px;
    grid-template-columns: 150px 150px 150px 150px 150px 150px;
    grid-template-rows: 150px 150px 150px 150px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-content: center;
}
