.article {
    min-width: 600px;
    background: white;
    padding: 20px 55px 30px;
    border-radius: 20px;
    margin-bottom: 15px;
    &Title {
        font-size: 40px;
        margin-bottom: 0.3em;
        text-align: center;
    }
    &Section {
        // align-items: center;
    }

}
