.InputPlus {
    display: grid;
    grid-template-columns: 250px 50px;
    justify-content: center;
    width: 100%;
    margin: 20px 0px 20px 0px;
    &Input {
        padding: 10px 10px;
        background: #DBE2EF;
        border: 1px solid rgba(177, 177, 177, 0.4);
        border-radius: 5px 0px 0px 5px;
        height: 32px;
        font: 1em/1.4 'Roboto', sans-serif;
        &::placeholder{
            color: #7B7B7B;
            padding-left: 10px;
            font-size: 12px;
            line-height: 14px;
        }
        
       
    }
    &Button {
        border:none;
        border-radius: 0px 5px 5px 0px;
        background: #3F72AF url('./images/plus.svg') no-repeat center center;
        cursor: pointer;
        transition: opacity 0.3ms;
        &:hover {
            opacity: 0.7;
        }
      
    }
    
}